.mainFront {
    background-image: url('/backgrounds/fondo-madera-oscura.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        background-image: url('/backgrounds/fondo-madera-oscura.png');
        background-size: cover;
        background-position: center;
        filter: blur(5px);
        pointer-events: none;
        box-shadow: inset 0 0 200px rgb(0, 0, 0);
    }

    > * {
        position: relative;
        z-index: 1;
    }

    .divInicio {
        width: 75%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
        flex-wrap: nowrap;

        .divLogo { 
            width: 80%;
            height: 75%;
            display: flex;
            align-items: center;
            justify-content: center;        

            a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    transition: 0.5s;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:hover img {
                    transition: 0.3s;
                    transform: scale(0.95);
                    filter: brightness(1.1) drop-shadow(0 0 8px #ffd95a);
                }
            }
        }    
        

        p {
            width: 100%;
            font-size: 18px;
            color: rgb(255, 255, 255);
            text-align: center;
            text-shadow: 0px 0px 8px gold;
        }
    } 
}

