.mainHome {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  background-image: url('/backgrounds/fondo-taberna.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;

  .divHome {
    width: 65%;
    aspect-ratio: 1195 / 1666;
    background-image: url('../../assets/posts/contenedor-post.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 3%;
    min-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
    
    .decorativeHome {
      width: 50%;
      height: auto;
    }

    .divTitleHome {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

    .titleHome {
        text-align: center;
        color: #ae0000;
        margin: 20px 0;
        -webkit-text-stroke: 1px #00000041;
      }
    }
    
    .pHome {
      text-align: center;
      color: rgba(0, 0, 0, 0.466);
      margin: 20px 0;
      line-height: 1.5;
      -webkit-text-stroke: 1px rgb(0, 0, 0);
    }
  }
}