.mainHome {
  width: 60%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;

  .divHome {
    margin: 80px auto;
    padding: 8%;
    aspect-ratio: 16 / 9;
    aspect-ratio: 1 / 1;
    background-image: url('../../assets/posts/contenedor-post.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    min-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    .decorativeHome {
      width: 50%;
      height: auto;
    }

    .titleHome {
      font-size: 7rem;
      text-align: center;
      color: #ae0000;
      margin: 20px 0;
      -webkit-text-stroke: 1px #00000041;
    }
  }
}