@media screen and (min-width: 1500px) {
    .header {
        align-items: end;

        .links-nav{
            margin: 0px 45px;
        }
    }
}

@media screen and (max-width: 1499px) {
    .header {
        align-items: end;

        .links-nav{
            margin: 0px 35px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .header {
        flex-direction: column;
        align-items: center;

        .links-nav{
            margin: 0px 35px;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: center;
        min-width: 400px;

        .nav-bar{
            flex-wrap: wrap;
            flex-direction: row-reverse;
            align-items: center;

            .links-nav{
                margin: 0px 20px;
            }
        }
    }
}

.header {
    background-color: rgb(22, 22, 22);
    border-bottom: 5px solid #f1b828;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0px 0px 10px white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('/backgrounds/fondo-nav.png');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
        pointer-events: none;
    }

    .nav-bar {
        width: 65%;
        display: flex;
        align-items: end;
        justify-content: space-between;

        .botones-nav {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 10px;

        }

        .botones-nav, .perfil-menu, .dropdown-nav {
            list-style-type: none;
        }

        
        .links-nav {
            text-align: center;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.8);
            transition: 0.3s;
            text-decoration: none;
            user-select: none;
            font-weight: 500;
            padding-bottom: 20px;


            &:hover {
                color: #f1b828;
                text-shadow: 0px 0px 10px rgb(255, 255, 255);
            }
        }
        .perfil-menu {
            display: flex;
            align-items: center;
            justify-content: end;
            margin: 10px 10px;
            position: relative;
        }

        .dropdown-nav {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-10px); // Empieza un poco arriba
            background: #222;
            border: 1px solid #ffffff75;
            border-radius: 10px;
            padding: 0.5em 1em;
            z-index: 10;
            display: flex;
            flex-direction: column;
            min-width: 120px;
            align-items: center;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s, transform 0.3s;
        }
        .perfil-menu:hover .dropdown-nav,
        .perfil-menu:focus-within .dropdown-nav {
            opacity: 1;
            pointer-events: auto;
            transform: translateX(-50%) translateY(10px);
        }

        .dropdown-nav .links-nav {
            margin: 0.2em 0;
        }
    }

    .logo img {
        width: 220px;
    }
}