@media screen and (min-width: 1500px) {
    .header {
        align-items: end;

        .links-nav{
            margin: 0px 45px;
        }
    }
}

@media screen and (max-width: 1499px) {
    .header {
        align-items: end;

        .links-nav{
            margin: 0px 35px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .header {
        flex-direction: column;
        align-items: center;

        .links-nav{
            margin: 0px 35px;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: center;
        min-width: 400px;

        .nav-bar{
            flex-wrap: wrap;
            flex-direction: row-reverse;
            align-items: center;

            .links-nav{
                margin: 0px 20px;
            }
        }
    }
}

.header {
    background-color: rgb(22, 22, 22);
    border-bottom: 5px solid #f1b828;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0px 0px 10px white;
    position: relative;
    z-index: 1000; 

    .nav-bar {
        width: 65%;
        display: flex;
        align-items: end;
        justify-content: space-around;

        .botones-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 10px;

            .links-nav {
                text-align: center;
                font-size: 20px;
                color: rgba(255, 255, 255, 0.8);
                transition: 0.3s;
                text-decoration: none;
                user-select: none;
                font-weight: 500;


                &:hover {
                    color: #f1b828;
                    text-shadow: 0px 0px 10px rgb(255, 255, 255);
                }
            }
        }
    }

    .logo img {
        width: 150px;
    }
}