@import "tailwindcss";

@keyframes stars {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

@keyframes twinkle {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.8; }
}

.animate-stars {
  background: black url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  animation: stars 200s linear infinite;
}

.animate-twinkle {
  background: black url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  animation: twinkle 2s ease-in-out infinite;
}

.paperwall {
  background-color: #d4b55f;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}